# Ignorar carpetas de compilación de Python
**/__pycache__/
*.py[cod]
*$py.class

# Ignorar archivos temporales y de sistema
*.swp
*.swo
.DS_Store

# Ignorar carpetas de editores (Opcional)
.vscode/
.idea/
